[grocy]
url = https://grocy.vosscloud.dk
key = 6aWfXbvTN5kISA8janF5dq55zU1iAMfk1IpB9Oqs55eZCMP6OE

[mealie]
url = https://mealie.vosscloud.dk
token = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJsb25nX3Rva2VuIjp0cnVlLCJpZCI6ImY2MWIyNDQ4LTdlZWEtNGZmNC04MDM3LWEwZTM0ZDY1NzFhNSIsIm5hbWUiOiJHcm9jeSBJbnRlZ3JhdGlvbiIsImludGVncmF0aW9uX2lkIjoiZ2VuZXJpYyIsImV4cCI6MTkxODgxOTU1M30.ia6mtdGvPsfaiqUfar7D5xBaHVF4_Whmqi1vHM04890